<template name="contractVerifyer">
    <div class="container marg mark">

        <div class="card">

            <div class="card-header">Purpose</div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12">

                        {{>howTo}}
                        <!--<div class="lg"><b><a href="/">ICO Tool</a> <small>Beta</small></b>  <br> <small>Smart Contract Source Code Submission and Verification</small> </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container white">



        <div class="tool-content">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                {{#if contract.verified}}
                    <li class="nav-item">
                        <a class="nav-link active text-success" id="home-tab" data-toggle="tab" href="#home" role="tab"
                           aria-controls="home" aria-selected="true"><i class="fa fa-check"></i> Verified Token</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active " id="home-tab" data-toggle="tab" href="#home" role="tab"
                           aria-controls="home" aria-selected="true">
                           {{#if contract.explorersuccess}}
                               <i class="fa fa-circle text-success"></i> Explorer Ping
                               {{else}}
                               <i class="fa fa-refresh fa-spin"></i> Pinging Explorer....
                               {{/if}}

                        </a>
                    </li>
                    <div class="editButton pull-right">
                        <div class="btn btn-warning editContract" role="button"><i class="fa fa-edit"></i> Edit</div>
                    </div>
                {{else}}
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                           aria-controls="home" aria-selected="true">1. Token Information</a>
                    </li>
                    {{#if contract.symbol}}
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                               aria-controls="profile" aria-selected="false">2. Token Source Code</a>
                        </li>
                    {{/if}}

                    {{#if contract.symbol}}
                        <li class="nav-item ">
                            <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab"
                               aria-controls="settings" aria-selected="false">3. Confirmation</a>

                        </li>
                    {{/if}}


                {{/if}}
            </ul>


            <div class="tab-content {{#if contract.verified}}verified-contract{{/if}}">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="tab-content">
                        {{#if contract.verified}}
                        {{else}}
                            {{#if contract._id}}
                                {{#if contract.icon}}
                                    <div class="progress">
                                        <div class="progress-bar  progress-bar-striped " role="progressbar"
                                             aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                             style="width: 40%"></div>
                                    </div>
                                {{else}}
                                    <div class="progress">
                                        <div class="progress-bar bg-warning progress-bar-striped " role="progressbar"
                                             aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                             style="width: 10%"></div>
                                    </div>
                                {{/if}}


                            {{else}}

                                <!--<div class="progress">-->
                                <!--<div class="progress-bar progress-bar-striped " role="progressbar" aria-valuenow="75"-->
                                <!--aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>-->
                                <!--</div>-->
                            {{/if}}
                        {{/if}}

                        {{#if contract.verified}}
                            <!--<div class="jumbotron">-->
                                <!--<h3 class="">Contract Code Verified <i-->
                                        <!--class="fa text-success fa-check pull-right"></i>-->
                                <!--</h3>-->
                            <!--</div>-->
                            {{>tokenForm}}
                            {{>contractForm}}


                        {{else}}
                            {{>tokenForm}}
                        {{/if}}
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <div class="tab-content">
                        <div class="progress">
                            <div class="progress-bar  progress-bar-striped " role="progressbar" aria-valuenow="75"
                                 aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
                        </div>
                        {{>contractForm}}

                    </div>

                </div>
                <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">


                </div>
                <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                    <div class="tab-content">

                        <div class="row">
                            <div class="col-sm-12">

                                {{#if contract._id}}

                                    {{#if creatingTar}}
                                        <div class="jumbotron">
                                            <div class="lead"><i class="fa fa-spin fa-spinner"></i> Verifying
                                                Code...
                                            </div>
                                        </div>
                                    {{else}}
                                        <div class="success">

                                            {{#if contract.verified}}
                                                <!--<div class="jumbotron">-->
                                                <!--<h3 class="">Contract Code Verified <i-->
                                                <!--class="fa text-success fa-check pull-right"></i>-->
                                                <!--</h3>-->
                                                <!--</div>-->
                                                {{>tokenForm}}
                                                {{>contractForm}}

                                   
                                            {{else}}
                                                {{#if contract.verifyattempt}}
                                                    <div class="jumbotron">
                                                        <p class="lead"><i
                                                                class="text-danger pull-right fa fa-warning"></i>
                                                            Source Code Does
                                                            Not Match Blockchain</p>
                                                        <div>Please make changes to the Token Source Code tab and
                                                            try
                                                            again.
                                                        </div>
                                                    </div>
                                                {{/if}}
                                            {{/if}}
                                            {{#if contract.verified}}

                                                <div class="jumbotron">
                                                    <h3 class="">Admin Resources
                                                    </h3>
                                                    {{#if currentUser.profile.admin}}
                                                        <div class="lead">Below is an endpoint example that will be hit
                                                            to pass this verification to the explorer.
                                                        </div>
                                                        <br>

                                                        <h5>Dev Resources
                                                            <small>[INTERNAL]</small>
                                                        </h5>

                                                        <div class="form-group">
                                                            <label for="">Tar File <a
                                                                    href="http://18.218.197.29/verified-icos/{{contract._id}}.tar?"
                                                                    target="_blank">Download</a></label>
                                                            <input type="text" class="form-control"
                                                                   value="http://18.218.197.29/verified-icos/{{contract._id}}.tar?">
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="">Explorer Endpoint</label>
                                                            <input type="text" class="form-control"
                                                                   value="{{contract.verifyUrl}}">
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="">Ping The Explorer</label>
                                                            <div>
                                                                <div class="btn btn-success pingMe">Send Test Ping to
                                                                    Explorer Endpoint
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="alert alert-info">
                                                            Note: To change the Explorer Endpoint URL go to Config and
                                                            save. Then click on the Token Contract Source Code tab and
                                                            click Verify and Publish.
                                                        </div>
                                                    {{/if}}
                                                </div>

                                            {{else}}


                                            {{/if}}

                                        </div>
                                    {{/if}}

                                {{/if}}


                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>

    </div>


</template>